*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #fff;
}
  
header{
    text-align: center;
    padding: 30px;
    background: rgb(0, 0, 0, 0.7);
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}
  
header h1{
    font-size: 2.5rem;
    color: #ffcc00;
}
  
header p{
    font-size: 1.2rem;
    color: #ddd;
}
  
.movie-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
.movie-card{
    background: white;
    border: 2px solid #ddd;
    border-radius: 16px;
    width: 280px;
    height: 350px;
    text-align: center;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 6px 10px rgb(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.movie-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 12px 20px rgb(0, 0, 0, 0.2);
}
  
.movie-card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.movie-card h2{
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
}
  
.movie-info{
    display: none;
    text-align: center;
    margin: 30px;
    padding: 20px;
    background: rgb(0, 0, 0, 0.9);
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgb(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
  
.movie-info img{
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid #ddd;
}
  
.movie-info h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ffcc00;
}
  
.movie-info p{
    font-size: 1.1rem;
    margin: 10px 0;
}
  
.movie-info a{
    margin-top: 20px;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    transition: background 0.3s ease;
}
  
.movie-info a:hover{
    background: #ffc107;
}
  
:target{
    display: block;
}